# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# Android related
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java

# iOS/XCode related
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/derived_data/
**/ios/**/icons/
**/ios/**/pubs/
**/ios/**/.DS_Store
**/ios/**/.netrwhist
**/ios/**/scw/
**/ios/**/tags*
**/ios/**/.simulated-device
**/ios/**/xcuserdata/
**/ios/**/Index/
**/ios/flutter/App.framework
**/ios/flutter/Flutter.framework
**/ios/flutter/flutter_assets/
**/ios/flutter/Generated.xcconfig
**/ios/flutter/app.flx
**/ios/flutter/app.zip
**/ios/ServiceDefinitions.json
**/ios/Runner/k8s/
