gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Keystore is committed to this private repo for safekeeping
# **/*.keystore
# **/*.jks
